
# Visual Studio Code related
# .vscode/
.dart_tool
*.exe
*.out
*.dSYM
build

# android
/android/ui_demo*.iml
/android/ui_demo.gradle
/android/ui_demo/local.properties
/android/ui_demo/.idea/caches
/android/ui_demo/.idea/libraries
/android/ui_demo/.idea/modules.xml
/android/ui_demo/.idea/workspace.xml
/android/ui_demo/.idea/navEditor.xml
/android/ui_demo/.idea/assetWizardSettings.xml
/android/ui_demo.DS_Store
/android/ui_demo/build
/android/ui_demo/captures
/android/ui_demo.externalNativeBuild
/android/ui_demo.cxx
