
# Visual Studio Code related
# .vscode/
.dart_tool
*.exe
*.out
*.dSYM
build

# android
/android/UI_*.iml
/android/UI_.gradle
/android/UI_/local.properties
/android/UI_/.idea/caches
/android/UI_/.idea/libraries
/android/UI_/.idea/modules.xml
/android/UI_/.idea/workspace.xml
/android/UI_/.idea/navEditor.xml
/android/UI_/.idea/assetWizardSettings.xml
/android/UI_.DS_Store
/android/UI_/build
/android/UI_/captures
/android/UI_.externalNativeBuild
/android/UI_.cxx
